# This gitignore is a whitelist. Inspired by https://rgbcu.be/blog/gitignore

*

!.gitignore
!.gitattributes
!Dockerfile
!config.default.yaml
!docker-compose.yaml
!starter.bat
!pyproject.toml

!*.md
!*.py
!*.json

!llmcord
!docs
!config
