# This gitignore is a whitelist. Inspired by https://rgbcu.be/blog/gitignore

*

!.gitignore
!.gitattributes
!Dockerfile
!config.default.yaml
!docker-compose.yaml
!requirements.txt
!starter.bat

!*.md
!*.py
!*.json

!src
!docs
!config
